---
apiVersion: eks.amazonaws.com/v1
kind: TargetGroupBinding
metadata:
  name: {{ .Values.app.name }}
  namespace: {{ .Values.namespace }}
spec:
  serviceRef:
    name: {{ .Values.app.name }}
    port: {{ .Values.service.ports.http }}
  targetGroupARN: PLACEHOLDER
  targetType: {{ .Values.targetGroup.targetType }}
